.Mobile_Navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  padding: 15px 0;
  background: transparent;
  color: #e4e4e4;
}

.Mobile_Navbar_Scrolled {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  padding: 15px 0;
  background-color: #e4e4e4;
}

.mobile_navbar {
  &_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }
}

.mobile_nav {
  &_links {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &_link_home,
  &_link_about,
  &_link_work,
  &_link_contact {
    font-size: 1.4rem;
    color: #000000;
  }
}

.active {
  font-weight: 600;
}

.ant-drawer-close {
  color: #000000;
}

.drawer_image {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  filter: invert(1);
}

.ant-drawer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

// .ant-drawer-content-wrapper {
//   width: 270px;
// }

.Mobile_Navbar_Scrolled .drawer_image {
  filter: none;
}
