#FoodProducts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.foodProducts {
  &_image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: contain;

    @media screen and (max-width: 768px) {
      aspect-ratio: 2/4;
      object-fit: cover;
    }

    &_container {
      margin: 10px 0;
      flex-basis: calc(20% - 10px);

      @media screen and (max-width: 768px) {
        flex-basis: calc(50% - 15px);
      }
    }
  }
}

.lg-thumb-item {
  // width: 100px;
  // height: 100px;
  // object-fit: cover;
  border-radius: 10px !important;
  height: 100px !important;
  margin-right: 0 !important;
}

.lg-thumb-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.lg-thumb.lg-group {
  height: 100px;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  gap: 15px !important;
}

#lg-content-2 {
  top: 50px !important;
  bottom: unset;
}

#lg-components-2 {
  // top: unset;
  bottom: 50px !important;
}

.lg-outer .lg-item,
.lg-outer .lg-img-wrap {
  height: 90% !important;
}

.lg-thumb-item.active img {
  border: 1px solid red;
}
