#HomepageFooter {
  position: relative;
  margin-top: 100px;

  @media screen and (max-width: 420px) {
    margin-top: 0;
  }
}

.homepage_footer_whiteBG {
  background-color: white;
  height: 400px;

  @media screen and (max-width: 420px) {
    margin-bottom: 350px;
  }
}
