#GetInTouch {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 5%;

  @media screen and (max-width: 420px) {
    width: 100%;
    left: 0;
  }
}

.getInTouch {
  &_wrapper {
    width: 60%;
    display: flex;
    background: #e8ded4;
    padding: 30px 0;
    border-radius: 10px;
    gap: 20px;

    @media screen and (max-width: 420px) {
      width: 90%;
      flex-direction: column;
      align-items: center;
      padding: 10px 10px 30px 10px;
    }
  }

  &_contactUs {
    &_form {
      width: 70%;
      // padding-right: 100px;
    }

    // &_chat {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 20px;
    //   width: 50%;
    //   padding-top: 5px;
    //   padding-right: 65px;
    // }

    // &_header {
    //   font-size: 2.5rem;
    //   font-weight: 200;
    // }

    // &_sub_header {
    //   font-size: 1.2rem;
    //   font-weight: 700;
    // }

    // &_form_request {
    //   font-size: 1.2rem;
    //   font-weight: 300;
    // }

    // &_form {
    //   // width: 60%;
    //   // padding: 20px 160px 20px 0;
    // }
  }

  &_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;

    @media screen and (max-width: 420px) {
      width: unset;
      padding: 0;
    }
  }

  &_header {
    padding-top: 30px;
    font-size: 2rem;
    font-weight: 100;
  }

  &_sub_header {
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: 300;
  }
}

// .contactUs {
//   &_form_btn_wrapper {
//     display: flex;
//     justify-content: end;
//     // padding: 0 130px;
//     padding: 0 130px !important;

//     @media screen and (max-width: 420px) {
//       justify-content: center;
//     }
//   }

//   &_form_btn_container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 180px;
//     height: 50px;
//     background-color: black;
//     color: white;
//     border-radius: 10px;
//     border: none;
//     cursor: pointer;
//   }

//   &_form_btn {
//     // padding: 20px 160px 20px 0;
//     font-size: 20px;
//   }
// }

// .ant-form-item-row {
//   display: flex;
//   justify-content: space-between;
// }

// .ant-form-item .ant-form-item-label {
//   overflow: unset;
//   text-align: start;
// }

// .ant-form-horizontal .ant-form-item-control {
//   min-width: 300px;
// }

.ant-row.ant-form-item-row {
  justify-content: start;
  gap: 20px;

  @media screen and (max-width: 420px) {
    gap: 0;
  }
  // width: 70%;
}
