#ContactUs {
  display: flex;
  padding: 100px 120px 85px;
  gap: 50px;

  @media screen and (max-width: 420px) {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1750px) and (max-width: 2000px) {
    padding: 100px 200px 85px;
  }

  @media screen and (min-width: 2001px) and (max-width: 2250px) {
    padding: 100px 250px 85px;
  }

  @media screen and (min-width: 2251px) and (max-width: 2500px) {
    padding: 100px 400px 85px;
  }

  @media screen and (min-width: 2501px) and (max-width: 2750px) {
    padding: 100px 500px 85px;
  }

  @media screen and (min-width: 2751px) and (max-width: 3000px) {
    padding: 100px 650px 85px;
  }
}

.contactUs {
  &_chat {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // padding-top: 5px 65px 0px;

    @media screen and (max-width: 420px) {
      width: 90vw;
    }
  }

  &_header {
    font-size: 2.5rem;
    font-weight: 200;
  }

  &_sub_header {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &_form_request {
    font-size: 1.2rem;
    font-weight: 300;
  }

  &_formContainer {
    width: 70%;
    // padding-right: 100px;
    @media screen and (max-width: 420px) {
      width: 90%;
    }
  }

  &_form {
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-right: 80px;

    @media screen and (max-width: 420px) {
      padding-right: 0;
      gap: 10px;
    }

    @media screen and (min-width: 421px) and (max-width: 1000px) {
      padding-right: 30px;
      // gap: 10px;
    }

    &_btnContainer {
      display: flex;
      justify-content: end;
    }

    &_btn {
      width: 25%;
      padding: 10px;
      background: black;
      color: white;
      border-radius: 5px;
      border-collapse: collapse;
      border: none;
      cursor: pointer;

      @media screen and (max-width: 420px) {
        width: 40%;
      }

      @media screen and (min-width: 421px) and (max-width: 1000px) {
        width: 40%;
        // gap: 10px;
      }
    }
  }

  &_formLabel {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &_formInput {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    border: 1px solid;
    padding: 5px 10px;
    font-size: 16px;
  }
}
