#Overview {
  display: flex;
  flex-direction: column;
  padding: 120px 80px 85px;

  @media screen and (max-width: 420px) {
    padding: 50px 40px;
  }
}

.overview {
  &_image {
    width: 95%;
    object-fit: cover;
    border-radius: 20px;

    &_container {
      display: flex !important;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &_header {
    display: flex;
    justify-content: center;

    &_text {
      font-size: 2.5rem;
      letter-spacing: 4px;
      font-weight: 200;

      @media screen and (max-width: 420px) {
        font-size: 1.5rem;
      }
    }
  }
}

.slick-dots {
  bottom: -25px;

  @media screen and (max-width: 420px) {
    bottom: 25px;
  }
}

.slick-list {
  padding: 50px 0;

  @media screen and (max-width: 420px) {
    padding: 0 0 30px 0;
  }
}

.slick-prev {
  left: -35px;

  @media screen and (max-width: 420px) {
    top: 40%;
  }
}

.slick-next {
  // left: -35px;

  @media screen and (max-width: 420px) {
    top: 40%;
  }
}

.slick-prev:before {
  //   content: "←";
  color: #aba9a9;
  font-size: 30px;
}

.slick-next:before {
  //   content: "→";
  color: #aba9a9;
  font-size: 30px;
}
